:root {
    --icon-size: 24px;
    --icon-color: black;
}

.pointed-arrow-down {
    display: inline-block;
    width: var(--icon-size);
    height: var(--icon-size);
    mask-image: url('https://cdn.jsdelivr.net/gh/Website-List/gitme/blob/1e6b2c84a2471e3b11fc374b694d7add4b0f4c4c/icon/pointed-arrow-down.svg');
    -webkit-mask-image: url('https://cdn.jsdelivr.net/gh/Website-List/gitme/blob/1e6b2c84a2471e3b11fc374b694d7add4b0f4c4c/icon/pointed-arrow-down.svg');
    background-color: var(--icon-color);
}
.pointed-arrow-down-fill {
    display: inline-block;
    width: var(--icon-size);
    height: var(--icon-size);
    mask-image: url('https://cdn.jsdelivr.net/gh/Website-List/gitme/blob/1e6b2c84a2471e3b11fc374b694d7add4b0f4c4c/icon/pointed-arrow-down-fill.svg');
    -webkit-mask-image: url('https://cdn.jsdelivr.net/gh/Website-List/gitme/blob/1e6b2c84a2471e3b11fc374b694d7add4b0f4c4c/icon/pointed-arrow-down-fill.svg');
    background-color: var(--icon-color);
}

https://github.com/Website-List/gitme/blob/1e6b2c84a2471e3b11fc374b694d7add4b0f4c4c/icon/pointed-arrow-down-fill.svg
