:root {
    --icon-size: 24px;
    --icon-color: black;
}

.pointed-arrow-down {
    display: inline-block;
    width: var(--icon-size);
    height: var(--icon-size);
    mask-image: url('https://cdn.jsdelivr.net/gh/FumblePin/BumbleBird/Icon/pointed-arrow-down.svg');
    -webkit-mask-image: url('https://cdn.jsdelivr.net/gh/FumblePin/BumbleBird/Icon/pointed-arrow-down.svg');
    background-color: var(--icon-color);
}
.pointed-arrow-down-fill {
    display: inline-block;
    width: var(--icon-size);
    height: var(--icon-size);
    mask-image: url('https://cdn.jsdelivr.net/gh/FumblePin/BumbleBird/Icon/pointed-arrow-down.svg');
    -webkit-mask-image: url('https://cdn.jsdelivr.net/gh/FumblePin/BumbleBird/Icon/pointed-arrow-down.svg');
    background-color: var(--icon-color);
}
